<section class="content-block" id="3d_design">
  <div class="row">
    <div class="large-8 columns content-block-box">
      {% capture 3d_design_text %}{% include texts/3d_design.md %}{% endcapture %}
      {{ 3d_design_text | markdownify }}
    </div>
    <div class="large-4 columns references-box">
      <h5>Referenzen</h5>
      <ul class="small-block-grid-2">
        <li><a href="#"><img src="http://placehold.it/180x180"/></a></li>
        <li><a href="#"><img src="http://placehold.it/180x180"/></a></li>
      </ul>
    </div>
  </div>
</section>
