<div class="footer-wrapper">
  <div class="row">
    <div class="large-12 columns">
      <div class="panel">
        <div class="row">
          <div class="large-8 columns">
            <h4>Wir sollten reden!</h4>
            <p>Wir sind tägl. zwischen 9 - 17 Uhr von Montag bis Samstag für sie da.</p>
          </div>
          <div class="large-4 columns">
            <a href="#" class="radius button right call-to-action">Kontakt aufnehmen →</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <div class="row">
      <div class="large-3 columns">
        <p class="copyright">© Olaf Trommer</p>
      </div>
      <div class="large-9 columns text-centered">
        <ul class="inline-list">
          <li><a href="#">Über mich</a></li>
          <li><a href="#">AGB</a></li>
          <li><a href="#">Impressum</a></li>
        </ul>
      </div>
    </div>
  </footer>
</div>
